<!DOCTYPE html>
<html>

<head>
  <title>PyDanfeView - Ricardo Tondello</title>
  <link rel="icon" type="image/png" href="static/images/xml.png" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>

  <!-- pagination -->
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="static/js/pagination.js"></script>

</head>

<script>
  function myFunction() {
    const filter = document.querySelector('#myInput').value.toUpperCase();
    const trs = document.querySelectorAll('#myTable tr:not(.header)');
    trs.forEach(tr => tr.style.display = [...tr.children].find(td => td.innerHTML.toUpperCase().includes(filter)) ? '' : 'none');
  }

  $(document).ready(function () {
    $('#myTableBody').pageMe({
      pagerSelector: '#myPager',
      activeColor: 'blue',
      prevText: 'Anterior',
      nextText: 'Próximo',
      showPrevNext: true,
      hidePageNumbers: false,
      perPage: 15
    });
  }); 
</script>

<body class="grey lighten-5">

  {% block body %}
  <style>
    table {
      width: 100%;
      font-size: 12px;
    }

    .container {
      width: 95%;
    }

    footer {
      font-size: 10px;
      font-style: italic;
    }
  </style>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">desktop_mac</i>PyDanfeView</a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pesquisar">
      </div>
    </div>
    <div class="row">
      <table id="myTable" class="table table-sm table-bordered centered responsive-table highlight">
        <thead>
          <tr class="header">
            <th scope="col">NF</th>
            <th scope="col">Série</th>
            <th scope="col">Data Emissão</th>
            <th scope="col">Operação</th>
            <th scope="col">Razão Social</th>
            <th scope="col">CNPJ/CPF</th>
            <th scope="col">Total R$</th>
            <th scope="col">Chave de Acesso</th>
            <th scope="col">Visualizar Danfe</th>
          </tr>
        </thead>
        <tbody id="myTableBody">
          <!-- arquivos -->
          {% for arquivo in arquivos %}
          <tr>
            <td>{{ arquivo.NF }}</td>
            <td>{{ arquivo.serie }}</td>
            <td>{{ arquivo.data_emissao }}</td>
            <td>{{ arquivo.operacao }}</td>
            <td>{{ arquivo.razao_social }}</td>
            <td>{{ arquivo.cnpj_cpf }}</td>
            <td>{{ arquivo.total }}</td>
            <td>{{ arquivo.chave }}</td>
            <td> <a href="danfeview/{{ arquivo.xml_file }}" target="_blank" class="brand-logo"><i
                  class="material-icons">description</i> </a> </td>
          </tr>
          {% endfor %}
          <!-- fim arquivos -->

        </tbody>
      </table>
      <div class="col-md-12 center text-center">
        <span class="left" id="total_reg"></span>
        <ul class="pagination pager" id="myPager"></ul>
      </div>
    </div>
  </div>

  <blockquote>
    <footer>Direitos reservados - Ricardo Tondello - 2019</footer>
  </blockquote>

  {% endblock %}
</body>

</html>